name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 12.x
          - 13.x
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # libgbm-dev is required by Puppeteer 3+
      - name: Install system dependencies
        run: |
          sudo apt-get install -y libgbm-dev
      - name: Install dependencies
        run: |
          npm ci
      - name: Lint, build and test
        run: |
          npm run build
          npm run lint:firefox
          npm t
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version:
          - 12.x
          - 13.x
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
      - name: Lint, build and test
        run: |
          npm run build
          npm t
