name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 12.x
          - 13.x
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
      - name: Lint, build and test
        run: |
          npm run lint:code
          npm run build
          npm run lint:firefox
          npm test
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version:
          - 12.x
          - 13.x
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
      - name: Lint, build and test
        run: |
          npm run lint
          npm run build
          npm run test
